%buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
  &:hover {
    background-color: rgb(49, 82, 102);
    cursor: pointer;
    transition: all 0.3s;
  }
}

%buttons-header {
  font-size: 0.9rem;
  color: white;
  font-weight: 600;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
%icons {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 1rem;
}
.Button {
  &-join-now {
    @extend %buttons-header;
    border: 1px solid rgb(0, 57, 61);
    background-color: rgb(11, 144, 153);
  }
  &-sign-out {
    @extend %buttons-header;
    border: 1px solid rgb(43, 7, 12);
    background-color: rgb(230, 48, 72);
  }
  &-google {
    @extend %buttons;
    width: 100%;
    border: none;
    background-color: rgb(57, 68, 75);
    margin-bottom: 15px;
    svg {
      @extend %icons;
    }
  }
  &-facebook {
    @extend %buttons;
    background-color: rgb(39, 47, 52);
    svg {
      @extend %icons;
      fill: #2a7fd5;
    }
    &:hover {
      background-color: rgb(11, 62, 94);
    }
  }
}
