.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: clamp(50vw, 400px, 90vw);//check this property later
  // calc(), clamp(), min(), max()
  // width: min(50vw, 50px);
  box-shadow: 0px 2px 10px 0px rgb(202, 202, 202);
  border-radius: 5px;
  padding: 0 30px;
  margin: 50px auto;
  .group {
    width: 60%;
  }
}
